.woocommerce img, .woocommerce-page img{
    height: 10em;
}
.woocommerce ul.products{
    position: relative;
    top: 16em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    width: 26%;
    margin: 0 3%;

}
.title{
    position: fixed;
    z-index: 4!important;
    display: flex;
    flex-direction: column;
    left: 20%;
    width: 100%;
    top: 5%;
    font-size: 2.5rem;
}
.top-text-one{
    font-weight: 600;
    position: relative;
    left: -3%;
}
.top-text-two{
    font-style: italic;
    position: relative;
    left: 3%;
}
p{
    margin: 0;
}

.woocommerce ul.products li.product a img{
    height: 17em;
    object-fit: cover;
    object-position: 50% 50%;
}

.item-bg{
    backdrop-filter: blur(2px);
    height: auto!important;
    position: absolute;
    top: 10.2em;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
position: relative;
z-index: 2;
top: -3.2em;
left: 0.5em;
width: 90%;
color: var(--light-gray);
font-size: 1.5em;
font-weight: 300;
text-shadow: 4px 4px 8px rgba(0, 0, 0);

}
.woocommerce ul.products li.product .price{
position: absolute;
z-index: 2;
top: 51%;
right: 6%;
color: var(--light-gray);
font-size: 1.5em;
font-weight: 300;
text-shadow: 4px 4px 8px rgba(0, 0, 0);
}
.icon-price{
width: 30%;
position: absolute;
right: 3%;
top: 48%;
}
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button{
background-color: rgba(255, 255, 255, 0);
color: var(--light-gray);
position: absolute;
top: 75%;
left: 2%;
}
@media screen and (max-width:600px){
    .woocommerce ul.products{
        position: relative;
        top: 12em;
    }
    .title{
        position: fixed;
        z-index: 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 1.7rem;
        top: 10%;
        left: 0;
    }
    .top-text-one{
        position: relative;
        left: -5%;
    }
    .top-text-two{
        position: relative;
        left: 5%;
    }
    p{
        margin: 0;
    }
    .woocommerce ul.products li.product a img{
        height: 17em;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
        width: 100%;
        margin: 0;
    }

    .item-bg{
        backdrop-filter: blur(2px);
        height: auto!important;
        position: absolute;
        top:10.2em;
    }
   .woocommerce ul.products li.product .woocommerce-loop-product__title{
    position: relative;
    z-index: 2;
    top: -3.2em;
    left: 0.5em;
    width: 90%;
    color: var(--light-gray);
    font-size: 1.5em;
    font-weight: 300;
    text-shadow: 4px 4px 8px rgba(0, 0, 0);

   }
   .woocommerce ul.products li.product .price{
    position: absolute;
    z-index: 2;
    top: -7em;
    right: 6%;
    color: var(--light-gray);
    font-size: 1.5em;
    font-weight: 300;
    text-shadow: 4px 4px 8px rgba(0, 0, 0);
   }
   .icon-price{
    width: 30%;
    position: absolute;
    right: 3%;
    top: 48%;
   }
   :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button{
    background-color: rgba(255, 255, 255, 0);
    color: var(--light-gray);
    position: absolute;
    top: 75%;
    left: 2%;
   }
}
@media screen and (min-width: 600px) and (max-width:900px){
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
        width: 45%;
        margin: 0 1%;
    }
    .title{
        position: fixed;
        z-index: 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 2rem;
        top: 10%;
        left: 0;
    }
    .item-bg{
        top: 12em
    }
    .woocommerce ul.products li.product .price{
        top:56%;
    }
}
@media screen and (min-width: 900px) and (max-width:1300px){
    .item-bg{
        top: 12em
    }
    .woocommerce ul.products li.product .price{
        top:56%;
    }
}
